<template>
  <base-page>
    <h4>Protected Content</h4>
    <p>This page will only be available if the user is logged in.</p>
  </base-page>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped></style>
